// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}